// Font.
$font-base: "Helvetica Neue" ,Helvetica ,sans-serif;

// Color Palette
{% set palette = site.params.primary_color %}
$primary: {{ palette }};
$secondary: darken(#444, 15%);

@import "imports/reset";
@import "imports/main";
@import "imports/general";
@import "imports/header";
@import "imports/footer";
@import "imports/feature";
