{% extends "body.html" %}

{% block content %}

<div class="home">
  
  <h1>{{ page.params.heading }}</h1>
  {{ page.content }}

  {% if site.data.generators.ssg %}
  <h5>Supported SSG</h5>
  <ul>
  {% for link in site.data.generators.ssg %}
    <li>{{ link.title }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if site.data.generators.cms %}
  <h5>Supported CMS</h5>
  <ul>
  {% for link in site.data.generators.cms %}
    <li>{{ link.title }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if page.params.show_button %}
  <a href="{{ page.params.button_url }}" class="button inverse">{{ page.params.button_text }}</a>
  {% endif %}
  
</div>

{% endblock %}
