/**
 * Site Footer
 * ----------------------------------------------------------------------------
 */
.site-footer {
  border-top: 1px solid _palette(border);
  padding-bottom: 1.5em;
  padding-top: 1.5em;

  .site-info {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}