/**
 * Posts
 * ----------------------------------------------------------------------------
 */
.post {
  margin-bottom: 2.5em;
}

.post-thumbnail {
  display: block;
  margin-bottom: 1.875em;
}

.post-header {
  margin-bottom: 1.875em;
}

.post-title {
  margin: 0 0 0.625rem;

  a {
    color: inherit;

    &:hover {
      color: _palette(accent);
    }
  }
}

.post-subtitle {
  border-bottom: 1px solid _palette(border);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding-bottom: 1.875rem;
}

.post-feed {
  .post-thumbnail,
  .post-header {
    margin-bottom: 1.5em;
  }

  .post-title {
    font-size: 2.25rem;
  }

  .post-meta {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}