/**
 * Sections
 * ----------------------------------------------------------------------------
 */
/**
 * Sections
 * ----------------------------------------------------------------------------
 */
.block {
  margin-bottom: 3.75em;
}

.block-title {
  color: _palette(secondary);
  font-size: 2.5rem;
  margin: 0 0 1.875rem;
}

.block-img {
  margin-bottom: 1.5em;
}

.block-cta {
  .button {
    margin-right: 15px;
  }
}